/**
 * Styles for the add-observation.html page 
 */
 .required {
    color: red;
  }
  
  #latitute-invalid {
    color: red;
  }
  
  #longitude-invalid {
    color: red;
  }

  /* #calbutton {
      position: relative;
      z-index: 1;
      left: auto;
      top: 1px;

  } */